In [1]:
import pandas as pd
data=pd.read_csv("C:/Users/Ravali/Downloads/Netflix_movies_and_tv_shows_clustering.csv")

In [2]:
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [3]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
original_shape = data.shape
null_summary_before = data.isnull().sum()
duplicates_count = data.duplicated().sum()
print(original_shape,'original shape')
print(null_summary_before,'null values')
print(duplicates_count,'duplicates')

(7787, 12) original shape
show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64 null values
0 duplicates

In [5]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [6]:
data.dropna(inplace=True)
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...,...
7778,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [7]:
data['director'].fillna('unknown',inplace=True)
data

C:\Users\Ravali\AppData\Local\Temp\ipykernel_18904\3566295074.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['director'].fillna('unknown',inplace=True)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...,...
7778,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [8]:
data.duplicated().sum()
data.duplicated()

1       False
2       False
3       False
4       False
5       False
        ...
7778    False
7780    False
7781    False
7782    False
7783    False
Length: 4808, dtype: bool

In [9]:
data.dropna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...,...
7778,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [10]:
data.drop_duplicates(inplace=True)

In [11]:
data['type'] = data['type'].apply(lambda x: str(x).strip().lower().title() if pd.notnull(x) else x)
data[['type', 'title']].head()

      type  title
1    Movie   7:19
2    Movie  23:59
3    Movie      9
4    Movie     21
5  Tv Show     46

In [12]:
data['country'] = data['country'].apply(lambda x: str(x).strip() if pd.notnull(x) else x)
data[['type', 'country']].head()

      type        country
1    Movie         Mexico
2    Movie      Singapore
3    Movie  United States
4    Movie  United States
5  Tv Show         Turkey

In [13]:
data.columns = [col.strip().lower().replace(" ", "_") for col in data.columns]
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,Tv Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...,...
7778,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [14]:
data = data[pd.notnull(data['release_year'])]
data['release_year'] = data['release_year'].astype(int)

In [15]:
data['date_added'] = pd.to_datetime(data['date_added'], errors='coerce')
data['date_added'] = data['date_added'].dt.strftime('%Y-%m-%d')
data = data[data['date_added'].notnull()]
data.notnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
7778,True,True,True,True,True,True,True,True,True,True,True,True
7780,True,True,True,True,True,True,True,True,True,True,True,True
7781,True,True,True,True,True,True,True,True,True,True,True,True
7782,True,True,True,True,True,True,True,True,True,True,True,True
7783,True,True,True,True,True,True,True,True,True,True,True,True

In [16]:
print(data['date_added'].head())           
print("\nData type:", data['date_added'].dtype)

1    2016-12-23
2    2018-12-20
3    2017-11-16
4    2020-01-01
5    2017-07-01
Name: date_added, dtype: object

Data type: object

In [17]:
print(data.head())

  show_id     type  title           director  \
1      s2    Movie   7:19  Jorge Michel Grau
2      s3    Movie  23:59       Gilbert Chan
3      s4    Movie      9        Shane Acker
4      s5    Movie     21     Robert Luketic
5      s6  Tv Show     46        Serdar Akar

                                                cast        country  \
1  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...         Mexico
2  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...      Singapore
3  Elijah Wood, John C. Reilly, Jennifer Connelly...  United States
4  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...  United States
5  Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...         Turkey

   date_added  release_year rating  duration  \
1  2016-12-23          2016  TV-MA    93 min
2  2018-12-20          2011      R    78 min
3  2017-11-16          2009  PG-13    80 min
4  2020-01-01          2008  PG-13   123 min
5  2017-07-01          2016  TV-MA  1 Season

                                           listed_in  \
1                       Dramas, International Movies
2                Horror Movies, International Movies
3  Action & Adventure, Independent Movies, Sci-Fi...
4                                             Dramas
5    International TV Shows, TV Dramas, TV Mysteries

                                         description
1  After a devastating earthquake hits Mexico Cit...
2  When an army recruit is found dead, his fellow...
3  In a postapocalyptic world, rag-doll robots hi...
4  A brilliant group of students become card-coun...
5  A genetics professor experiments with a treatm...

In [19]:
print(data['type'].unique())
print(data['country'].unique())
print(data['release_year'].unique())
print(data['date_added'].unique())

['Movie' 'Tv Show']
['Mexico' 'Singapore' 'United States' 'Turkey' 'Egypt' 'India' 'Thailand'
 'Nigeria' 'Norway, Iceland, United States' 'South Korea' 'Italy'
 'Indonesia' 'Canada' 'Romania' 'Spain' 'Iceland' 'South Africa, Nigeria'
 'France' 'United States, South Africa' 'Portugal, Spain'
 'Hong Kong, China, Singapore' 'United States, Germany' 'United Kingdom'
 'South Africa, China, United States' 'Argentina'
 'United States, France, Serbia' 'Germany' 'Denmark, France, Poland'
 'Poland' 'Japan' 'Kenya' 'New Zealand, United Kingdom' 'Pakistan'
 'Australia' 'United States, China' 'China, Hong Kong'
 'United States, United Kingdom' 'Taiwan' 'France, South Korea, Japan'
 'United States, Canada' 'United Kingdom, United States'
 'Netherlands, Denmark, South Africa' 'Canada, United States' 'Denmark'
 'Hong Kong' 'France, Netherlands, Singapore' 'Philippines'
 'United Kingdom, Spain, United States'
 'United Arab Emirates, United States' 'Netherlands' 'Brazil'
 'Iran, France' 'United States, United Kingdom, France'
 'United Kingdom, France, Belgium, United States, China'
 'Argentina, Brazil, France, Poland, Germany, Denmark'
 'Israel, United States' 'Uruguay, Argentina, Spain' 'Singapore, France'
 'United Kingdom, United States, France, Germany' 'Turkey, United States'
 'Bulgaria, United States' 'Australia, France'
 'Hong Kong, Iceland, United States' 'United Arab Emirates'
 'United States, Chile' 'United States, Japan' 'United States, Bulgaria'
 'Uruguay, Argentina' 'Egypt, Algeria' 'France, Egypt' 'Uruguay'
 'Soviet Union, India' 'South Africa' 'Malaysia'
 'Ireland, United Kingdom, United States' 'Spain, Italy'
 'United Kingdom, France, Germany' 'United States, Germany, Canada'
 'United States, India' 'Japan, United States'
 'South Africa, United States' 'Canada, Luxembourg'
 'Serbia, United States' 'Colombia' 'Canada, Nigeria'
 'Iceland, Sweden, Belgium' 'Ireland, Canada' 'United States, Italy'
 'India, Germany' 'China, Spain, South Korea, United States' 'China'
 'Spain, Belgium' 'United Kingdom, Canada, United States, Germany'
 'Brazil, Netherlands, United States, Colombia, Austria, Germany'
 'France, Canada, Belgium'
 'India, United Kingdom, China, Canada, Japan, South Korea, United States'
 'France, Belgium' 'Indonesia, South Korea, Singapore' 'Norway' 'Peru'
 'France, Senegal, Belgium' 'Chile'
 'Romania, France, Switzerland, Germany'
 'Bulgaria, United States, Spain, Canada' 'Sweden, Netherlands' 'Ghana'
 'France, United States, Mexico'
 'Australia, United Kingdom, United Arab Emirates, Canada'
 'Singapore, United States' 'Saudi Arabia' 'United States, France'
 'Norway, Denmark, Netherlands, Sweden' 'Namibia' 'Mexico, Finland'
 'United States, Australia' 'Australia, Canada' 'United Kingdom, Ireland'
 'Lebanon' 'Belgium, France' 'New Zealand' 'Uruguay, Spain, Mexico'
 'United States, Canada, Indonesia, United Kingdom, China, Singapore'
 'India, Iran' 'United Kingdom, France' 'Turkey, India'
 'Philippines, Qatar' 'Vietnam' 'Ireland, Luxembourg, Belgium'
 'Russia, United States' 'United Kingdom, Russia, United States'
 'Argentina, Spain' 'Germany, Jordan, Netherlands' 'Hong Kong, China'
 'Australia, United States' 'Argentina, United States'
 'France, Belgium, Spain' 'Germany, United States'
 'Denmark, Sweden, Israel, United States' 'United States, Iceland'
 'United Arab Emirates, United Kingdom, India' 'United Kingdom, Russia'
 'India, United Kingdom' 'United States, Canada, Ireland'
 'Canada, United Kingdom' 'United States, Israel, Italy, South Africa'
 'India, United States' 'Indonesia, Singapore' 'South Korea, Japan'
 'Philippines, Canada, United Kingdom, United States'
 'France, Malta, United States' 'Kuwait' 'United Kingdom, Pakistan'
 'Mexico, United States' 'Ireland'
 'United Kingdom, United States, Australia' 'United States, Mexico'
 'United Kingdom, Czech Republic, United States, Germany, Bahamas'
 'Germany, Sri Lanka' 'United States, Sweden'
 'Canada, United States, Cayman Islands' 'India, France'
 'United States, India, Bangladesh' 'United States, Canada, France'
 'Taiwan, China, France, United States' 'Brazil, France, Germany'
 'Turkey, France, Germany, Poland'
 'United States, United Kingdom, Australia'
 'Germany, United States, Hong Kong, Singapore'
 'France, Germany, Switzerland' 'Mexico, Argentina'
 'Germany, France, Luxembourg, United Kingdom, United States'
 'Canada, United States, United Kingdom' 'United Kingdom, Canada, Italy'
 'Zimbabwe' 'Taiwan, Hong Kong, United States, China'
 'China, United States' 'Hungary' 'Germany, Australia'
 'United Kingdom, Poland, United States' 'Sweden' 'Bulgaria'
 'Philippines, United States' 'United States, Thailand'
 'Spain, Belgium, Switzerland, United States, China, United Kingdom'
 'United Kingdom, South Africa' 'Finland, Sweden, Norway, Latvia, Germany'
 'United Kingdom, India'
 'South Africa, United States, New Zealand, Canada' 'France, Qatar'
 'France, Algeria' 'United States, Italy, United Kingdom, Liechtenstein'
 'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom'
 'United States, Australia, Mexico'
 'United Kingdom, Czech Republic, Germany, United States'
 'Russia, Poland, Serbia' 'France, China, Japan, United States'
 'Germany, Belgium' 'Chile, Argentina'
 'China, United States, United Kingdom' 'Pakistan, Norway, United States'
 'United Kingdom, Japan, United States' 'Philippines, Singapore'
 'United States, Canada, Belgium, United Kingdom' 'Venezuela'
 'Argentina, Uruguay, Serbia' 'Colombia, Peru, United Kingdom'
 'Canada, Spain, France' 'Hong Kong, United States'
 'France, Canada, China, Cambodia' 'United States, Indonesia'
 'Spain, France' 'Spain, Mexico, France' 'Spain, France, Italy'
 'Spain, France, United States' 'Italy, France'
 'United Kingdom, Canada, United States' 'Cambodia, United States'
 'China, Japan' 'United Arab Emirates, United States, United Kingdom'
 'Italy, Switzerland, Albania, Poland' 'United States, Brazil'
 'United States, France, Mexico' 'United States, Nicaragua'
 'United Arab Emirates, Jordan, Lebanon'
 'France, United Kingdom, United States'
 'United Kingdom, United States, Spain, Germany, Greece, Canada'
 'France, Belgium, Luxembourg, Cambodia,' 'Italy, Turkey' 'Brazil, France'
 'Russia' 'India, Turkey' 'Kenya, United States'
 'United States, South Korea' 'South Korea, United States'
 'Italy, Canada, France' 'Thailand, United States'
 'United Kingdom, Denmark, Canada, Croatia' 'Netherlands, Belgium'
 'United Kingdom, Canada, United States, Cayman Islands'
 'United States, France, United Kingdom, Japan'
 'United States, United Kingdom, Denmark, Sweden'
 'United States, United Kingdom, Italy'
 'United States, France, Canada, Spain' 'Uruguay, Guatemala'
 'United States, United Kingdom, Japan'
 'United States, United Kingdom, Canada'
 'Italy, Switzerland, France, Germany' 'Russia, United States, China'
 'United States, Canada, Germany' 'Ireland, United States'
 'United States, United Arab Emirates' 'Hong Kong, China, United States'
 'Lebanon, United Arab Emirates, France, Switzerland, Germany'
 'United States, South Korea, Japan' 'Romania, United States'
 'United States, Ireland' 'Poland,'
 'Slovenia, Croatia, Germany, Czech Republic, Qatar'
 'United Kingdom, United States, France' 'Indonesia, United Kingdom'
 'United States, Spain, Germany' 'India, Japan'
 'Switzerland, France, Belgium, United States'
 'United Kingdom, France, Belgium' 'Canada, Ireland, United States'
 'United Kingdom, United States, Dominican Republic'
 'Germany, United Kingdom, United States'
 'United States, Canada, United Kingdom' 'United Kingdom, Germany, Canada'
 'Argentina, France' 'South Africa, Germany, Netherlands, France'
 'Cambodia' 'Spain, Portugal' 'Ireland, United States, France' 'Austria'
 'Germany, United States, Canada'
 'United Kingdom, Germany, Canada, United States'
 'United States, France, Canada, Lebanon, Qatar' 'Indonesia, Netherlands'
 'Netherlands, Belgium, United Kingdom, United States'
 'China, United States, Australia' 'France, Belgium, China, United States'
 'Spain, United Kingdom' 'United States, Chile, Israel' 'Bangladesh'
 'United Kingdom, Norway, Denmark, Germany, Sweden'
 'Norway, Denmark, Sweden' 'China, India, Nepal'
 'Colombia, Mexico, United States' 'Nigeria, United Kingdom'
 'United Kingdom, South Korea' 'United States, Taiwan'
 'Netherlands, Belgium, Germany, Jordan' 'France, Canada'
 'United Kingdom, France, United States' 'United States, Philippines'
 'United States, Greece, Brazil' 'France, United States'
 'Canada, South Africa' 'United Kingdom, Italy' 'Germany, United Kingdom'
 'Argentina, Chile, Peru' 'United States, Russia' 'Israel'
 'United States, China, Hong Kong'
 'Canada, Germany, France, United States' 'France, United Kingdom, India'
 'China, Taiwan' 'Poland, West Germany' 'Canada, Spain'
 'United Kingdom, France, Belgium, United States' 'France, Japan'
 'United States, Cambodia' 'United States, Greece'
 'Czech Republic, United States' 'United States, China, Colombia'
 'United States, Spain, Italy' 'Norway, United Kingdom, France, Ireland'
 'United States, Bermuda, Ecuador' 'United Kingdom, Poland'
 'China, Canada, United States' 'United States, Spain' 'India, Mexico'
 'Pakistan, United States' 'Israel, Sweden, Germany, Netherlands'
 'Chile, United States, France' 'France, Morocco'
 'United Kingdom, Germany' 'Georgia, Germany, France'
 'Switzerland, France' 'Turkey, South Korea'
 'Chile, Argentina, France, Spain, United States' 'United States, Nigeria'
 'Germany, United States, France' 'United Kingdom, United States, Japan'
 'United States, India, South Korea, China' 'United Kingdom, Canada'
 'Denmark, Germany, Belgium, United Kingdom, France'
 'Denmark, Germany, Belgium, United Kingdom, France, Sweden'
 'France, Switzerland, Spain, United States, United Arab Emirates'
 'Spain, Germany' 'Denmark, Brazil, France, Portugal, Sweden'
 'Brazil, India, China, United States' 'India, Germany, Austria'
 'Italy, United States' 'Denmark, France, United States, Sweden'
 'Australia, Iraq' 'China, Morocco, Hong Kong' 'Spain, Colombia'
 'Australia, United Arab Emirates' 'Canada, United States, Germany'
 'France, Belgium, Italy' 'United Kingdom, Thailand'
 'France, Luxembourg, Canada' 'India, Nepal' 'Mexico, Spain'
 'Colombia, Mexico' 'France, Germany, Czech Republic, Belgium'
 'Germany, China, United Kingdom' 'Canada, Hungary, United States'
 'Pakistan, United Arab Emirates' 'Spain, United Kingdom, United States'
 'United Kingdom, Kenya' 'United States, Norway, Canada'
 'Switzerland, Vatican City, Italy, Germany, France'
 'Portugal, France, Poland, United States' 'India, Switzerland'
 'Canada, India' 'Canada, Japan, United States' 'United States, Morocco'
 'Singapore, Japan, France' 'Canada, Mexico, Germany, South Africa'
 'United Kingdom, United States, Canada'
 'Germany, France, United States, Canada, United Kingdom'
 'Peru, Germany, Norway' 'Singapore, Malaysia' 'India, Canada'
 'Ireland, Canada, United Kingdom, United States'
 'United States, Germany, Australia' 'Israel, Germany, France'
 'Australia, France, Ireland' 'South Africa, Angola'
 'Austria, Czech Republic' 'Australia, India'
 'United States, United Kingdom, Canada, Japan'
 'Sweden, United Kingdom, Finland' 'Hong Kong, Taiwan'
 'United States, United Kingdom, Spain, South Korea'
 'South Korea, China, United States' 'Guatemala'
 'United States, United Kingdom, Canada, China'
 'South Africa, United States, Germany'
 'United States, Germany, United Kingdom, Australia' 'India, Soviet Union'
 'Italy, France, Switzerland' 'Canada, France, United States'
 'India, Malaysia' 'Switzerland, United States'
 'Thailand, Canada, United States' 'China, Hong Kong, United States'
 'United Kingdom, New Zealand'
 'United Kingdom, France, Germany, United States'
 'South Korea, Czech Republic' 'Czech Republic, United Kingdom, France'
 'Australia, United Kingdom, Canada'
 'Canada, United Kingdom, United States' 'United States, Hungary'
 'Jamaica, United States' 'Australia, United Kingdom'
 'United Kingdom, France, Canada, Belgium, United States'
 'Denmark, United Kingdom, Sweden'
 'Lebanon, United States, United Arab Emirates' 'United States, Hong Kong'
 'Argentina, France, United States, Germany, Qatar'
 'United States, Germany, United Kingdom'
 'United States, Germany, United Kingdom, Italy'
 'United States, New Zealand, United Kingdom' 'Finland, United States'
 'Spain, France, Uruguay' 'France, Belgium, United States'
 'France, Canada, United States' 'Switzerland' 'Spain, Argentina'
 'United Kingdom, India, United States' 'Chile, France'
 'United States, United Kingdom, France, Germany, Japan' 'Canada, Norway'
 'United States, Canada, China' 'United Kingdom, Malawi'
 'Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India'
 'United States, Czech Republic, United Kingdom' 'Ghana, United States'
 'Israel, Germany' 'Spain, Mexico' 'Mexico, France'
 'Poland, United States'
 'France, Belgium, Luxembourg, Romania, Canada, United States'
 'Israel, Germany, Poland, Luxembourg, Belgium, France, United States'
 'United States, Malta, France, United Kingdom'
 'United Kingdom, United States, Germany, Denmark, Belgium, Japan'
 'Austria, United States'
 'United Kingdom, France, Belgium, Canada, United States'
 'Argentina, Chile' 'Czech Republic, Slovakia'
 'United Kingdom, Germany, United States, France'
 'United Kingdom, Lithuania' 'Egypt, France' 'Spain, France, Canada'
 'United States, Greece, United Kingdom'
 'United Kingdom, China, United States, India' 'Taiwan, Malaysia'
 'United States, Sweden, Norway' 'United Kingdom, United States, Morocco'
 'United States, United Kingdom, Morocco' 'United States, China, Canada'
 'Spain, Canada, United States' 'Canada, Belgium'
 'United States, India, United Arab Emirates'
 'United Kingdom, Canada, France, United States'
 'Spain, Thailand, United States' 'Ireland, United Kingdom'
 'United States, Israel, United Kingdom, Canada'
 'United Kingdom, Hungary, Australia' 'Lebanon, France'
 'Belgium, Ireland, Netherlands, Germany, Afghanistan' 'Chile, Peru'
 'Paraguay, Argentina'
 'United Kingdom, Italy, Israel, Peru, United States' 'Norway, Germany'
 'France, Canada, Italy, United States, China'
 'Netherlands, Germany, Denmark, United Kingdom' 'France, Lebanon'
 'Ireland, United Kingdom, Greece, France, Netherlands'
 'New Zealand, United States' 'Argentina, Uruguay, Spain, France'
 'United Kingdom, Germany, United States'
 'United States, Australia, South Africa, United Kingdom' 'Italy, Belgium'
 'United States, Germany, Mexico' 'Chile, Spain, Argentina, Germany'
 'United Kingdom, Nigeria' 'Belgium, United Kingdom, United States'
 'Spain, Switzerland' 'Indonesia, United States'
 'Canada, South Korea, United States' 'France, Iran, United States'
 'United States, Czech Republic'
 'Somalia, Kenya, Sudan, South Africa, United States'
 'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong'
 'Spain, United States' 'United States, Canada, Japan, Panama'
 'United Kingdom, Spain, Belgium' 'Serbia, South Korea, Slovenia'
 'Denmark, United Kingdom, South Africa, Sweden, Belgium'
 'Germany, Canada, United States' 'United States, France, Japan'
 'Ireland, South Africa' 'Canada, Germany'
 'India, United Kingdom, Canada, United States'
 'United States, Belgium, Canada' 'United States, France, Canada, Belgium'
 'United Kingdom, Egypt, United States'
 'United Kingdom, Germany, United Arab Emirates, New Zealand'
 'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany'
 'United Kingdom, Spain, United States, Germany'
 'United States, France, Italy, United Kingdom'
 'United States, United Kingdom, India' 'Belgium'
 'New Zealand, United Kingdom, Australia' 'United Arab Emirates, Romania'
 'United Kingdom, Australia, Canada, United States' 'Mexico, Netherlands'
 'Spain, Italy, Argentina' 'United Kingdom, China, United States'
 'United Kingdom, Brazil, Germany' 'Thailand, China, United States'
 'Canada, United States, India, United Kingdom'
 'France, Lebanon, United Kingdom' 'United Kingdom, Jordan, Qatar, Iran'
 'Switzerland, United Kingdom, United States'
 'United Kingdom, Germany, France, United States'
 'United States, United Kingdom, Germany' 'Lebanon, Qatar'
 'United Kingdom, India, Sweden' 'United Kingdom, Belgium'
 'India, Pakistan'
 'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States'
 'France, Brazil, Spain, Belgium' 'United Kingdom, Ireland, United States'
 'India, Australia' 'United States, Argentina'
 'France, Norway, Lebanon, Belgium'
 'United Kingdom, France, United States, Belgium'
 'Saudi Arabia, United Arab Emirates'
 'Germany, United States, United Kingdom, Canada'
 'Uruguay, Argentina, Germany, Spain' 'Lebanon, Canada, France'
 'France, Luxembourg, United States' 'Romania, Bulgaria, Hungary'
 'United States, East Germany, West Germany'
 'Egypt, Austria, United States' 'Croatia, Slovenia, Serbia, Montenegro'
 'United Arab Emirates, Jordan'
 'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands']
[2016 2011 2009 2008 2019 1997 2017 2018 2014 2020 2015 2010 2005 2012
 2006 2013 2000 1989 2004 1977 1971 1993 2007 1998 1988 1996 2002 1986
 1990 1979 1980 1974 2001 1999 1966 1991 1982 1994 2003 1995 1978 1992
 1972 1975 1973 1967 1960 1981 1958 1976 2021 1968 1956 1985 1965 1984
 1983 1987 1945 1946 1962 1969 1955 1963 1964 1942 1954 1970 1947 1944
 1959]
['2016-12-23' '2018-12-20' '2017-11-16' ... '2018-12-06' '2016-03-09'
 '2020-01-11']

In [20]:
data.sample(4)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2762,s2763,Movie,Ho Mann Jahaan,Asim Raza,"Adeel Hussain, Mahira Khan, Sheheryar Munawar,...",Pakistan,2017-07-01,2015,TV-PG,170 min,"Dramas, International Movies, Romantic Movies",Three friends in modern-day Karachi navigate t...
6544,s6545,Movie,The Land,Youssef Chahine,"Hamdy Ahmed, Nagwa Ibrahim, Ezzat El Alaili, T...",Egypt,2020-06-18,1970,TV-MA,130 min,"Classic Movies, Dramas, International Movies",A group of peasant farmers fights to protect t...
5544,s5545,Movie,Shattered Memories,Chris Sivertson,"Elizabeth Bogush, Brad Schmidt, Sarah Lind, Ed...",United States,2020-10-23,2018,TV-14,86 min,"Dramas, Thrillers","When her former lover's mysteriously murdered,..."
4872,s4873,Movie,PK,Rajkumar Hirani,"Aamir Khan, Anuskha Sharma, Sanjay Dutt, Saura...",India,2018-09-06,2014,TV-14,146 min,"Comedies, Dramas, International Movies",Aamir Khan teams with director Rajkumar Hirani...

In [21]:
print(data.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int32
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [22]:
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2017-11-16,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,Tv Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...,...
7778,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018-07-01,2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...",2020-10-19,2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [23]:
duplicate_rows = data[data.duplicated()]
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")
data = data.drop_duplicates()

Number of duplicate rows: 0

In [24]:
print(f"Number of rows before export: {data.shape[0]}")

Number of rows before export: 4804

In [25]:
print("✅ Summary of Data Cleaning\n")
print(f"Original number of rows: {original_shape[0]}")
print(f"Final number of rows: {data.shape[0]}")
print()
print("🧹 Null Values Handling:")
print(null_summary_before)
print("\nNull values after cleaning:")
print(data.isnull().sum())
print()
print(f"📑 Duplicate rows removed: {duplicates_count}")
print("\n🧾 Final Column Names:")
print(list(data.columns))
print("\n📊 Final Data Types:")
print(data.dtypes)

✅ Summary of Data Cleaning

Original number of rows: 7787
Final number of rows: 4804

🧹 Null Values Handling:
show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

Null values after cleaning:
show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

📑 Duplicate rows removed: 0

🧾 Final Column Names:
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

📊 Final Data Types:
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int32
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [26]:
data.to_csv("cleaned_data.csv", index=True)
print("\n📁 Cleaned dataset saved as 'cleaned_data.csv'")

📁 Cleaned dataset saved as 'cleaned_data.csv'